*EXP.DETAILS: AZMC8901CO 1989 FACE EXPERIMENT

*GENERAL
@PEOPLE
B.A.Kimball, R.L.La Morte, G.J.Peresta, J.R.Mauney, K.Lewin et al.
@ADDRESS
USDA-U.S. Water Conservation Laboratory
@SITE
Free-Air CO2 Enrichment (FACE)-Maricopa, Arizona
@NOTES
B.A. Kimball,R.L.LaMorte, R.L. G.J. Perest, J.R. Mauney, K.F. Lewin and G.R.Hendrey. 1992. Appendices: weather, soils, cultural practices, and cottongrowth data from the 1989 FACE experiment in IBSNAT format. Critical Reviews ofPlant Science 11:271-308.R. Mauney, B.A. Kimball, P.J. Pinter,Jr., R.L. LaMorte, K.F. Lewin, J. Nagyand G.R. Hendrey. 1994. Growth and yield of cotton in response to a free-aircarbon dioxide enrichment (FACE) environment. Agricultural and ForestMeteorology 70:49.67Data entered by Gerrit Hoogenboom, Department of Biological and AgriculturalEngineering, the University of Georgia, Griffin, Georgia 30223, USA.Gerrit@griffin.uga.edu [August 10, 2005].


*TREATMENTS                        -------------FACTOR LEVELS------------
@N R O C TNAME.................... CU FL SA IC MP MI MF MR MC MT ME MH SM
 1 0 0 0 Control - 350 ppm          1  1  0  1  1  1  1  0  1  0  1  0  1
 2 0 0 0 CO2 Enrichment - 550 ppm   1  1  0  1  1  1  1  0  1  0  2  0  1

*CULTIVARS
@C CR INGENO CNAME
 1 CO IB0001 Deltapine 77

*FIELDS
@L ID_FIELD WSTA....  FLSA  FLOB  FLDT  FLDD  FLDS  FLST SLTX  SLDP  ID_SOIL    FLNAME
 1 Maricopa AZMC8832     0     0 DR000     0     0 00000 CL     -99  AZMC920001 -99
@L ...........XCRD ...........YCRD .....ELEV .............AREA .SLEN .FLWR .SLAS FLHST FHDUR
 1               0               0         0                 0     0     0     0   -99   -99

*INITIAL CONDITIONS
@C   PCR ICDAT  ICRT  ICND  ICRN  ICRE  ICWD ICRES ICREN ICREP ICRIP ICRID ICNAME
 1    WH 89100     0     0     1     1   -99     0     0     0   100    15 -99
@C  ICBL  SH2O  SNH4  SNO3
 1     5   .25     0     3
 1    10   .28     0     3
 1    20   .31     0     3
 1    30   .31     0     3
 1    50   .28     0     2
 1    70   .23     0     1
 1   100    .2     0     1
 1   130   .16     0    .5
 1   160   .15     0    .5
 1   190   .15     0    .5

*PLANTING DETAILS
@P PDATE EDATE  PPOP  PPOE  PLME  PLDS  PLRS  PLRD  PLDP  PLWT  PAGE  PENV  PLPH  SPRL                        PLNAME
 1 89107 89111    10    10     S     R   102     0     5   -99   -99   -99   -99     0                        -99

*IRRIGATION AND WATER MANAGEMENT
@I  EFIR  IDEP  ITHR  IEPT  IOFF  IAME  IAMT IRNAME
 1   .95   -99   -99   -99   -99   -99   -99 -99
@I IDATE  IROP IRVAL
 1 89100 IR005    10
 1 89114 IR005    43
 1 89118 IR005    43
 1 89121 IR005    34
 1 89125 IR005    47
 1 89129 IR005    43
 1 89131 IR005    30
 1 89139 IR005    73
 1 89145 IR005    30
 1 89156 IR005    52
 1 89163 IR005    43
 1 89178 IR005    60
 1 89180 IR005    13
 1 89182 IR005    47
 1 89185 IR005    26
 1 89188 IR005    26
 1 89192 IR005    34
 1 89196 IR005    60
 1 89199 IR005    56
 1 89200 IR005    13
 1 89201 IR005    34
 1 89208 IR005    26
 1 89210 IR005    17
 1 89212 IR005    34
 1 89214 IR005    17
 1 89216 IR005    30
 1 89218 IR005    22
 1 89220 IR005    17
 1 89222 IR005     9
 1 89224 IR005    22
 1 89226 IR005    13
 1 89228 IR005    22
 1 89230 IR005    17
 1 89232 IR005    30
 1 89234 IR005    26

*FERTILIZERS (INORGANIC)
@F FDATE  FMCD  FACD  FDEP  FAMN  FAMP  FAMK  FAMC  FAMO  FOCD FERNAME
 1 89100 FE010 AP005    20    67   -99   -99   -99   -99   -99 -99
 1 89139 FE010 AP005    20    22   -99   -99   -99   -99   -99 -99
 1 89166 FE010 AP005    20    22   -99   -99   -99   -99   -99 -99
 1 89200 FE010 AP005    20    22   -99   -99   -99   -99   -99 -99

*CHEMICAL APPLICATIONS
@C CDATE CHCOD CHAMT  CHME CHDEP   CHT..CHNAME
 1 89173 CH100     1 AP006   -99   -99  Pix Applications
 1 89192 CH100     1 AP006   -99   -99  Pix Applications

*ENVIRONMENT MODIFICATIONS
@E ODATE EDAY  ERAD  EMAX  EMIN  ERAIN ECO2  EDEW  EWIND ENVNAME  
 1 89100 A   0 A   0 A   0 A   0 A 0.0 R 350 A   0 A   0 Control-350 ppm
 2 89100 A   0 A   0 A   0 A   0 A 0.0 R 350 A   0 A   0 CO2 Enrichment-550 ppm
 2 89139 A   0 A   0 A   0 A   0 A 0.0 R 550 A   0 A   0 CO2 Enrichment-550 ppm

*SIMULATION CONTROLS
@N GENERAL     NYERS NREPS START SDATE RSEED SNAME.................... SMODEL
 1 GE              1     1     S 89100  2150 FACE EXPERIMENTS
@N OPTIONS     WATER NITRO SYMBI PHOSP POTAS DISES  CHEM  TILL   CO2
 1 OP              Y     Y     N     N     N     N     N     Y     M
@N METHODS     WTHER INCON LIGHT EVAPO INFIL PHOTO HYDRO NSWIT MESOM MESEV MESOL
 1 ME              {{ wther }}     M     E     R     S     L     R     1     G     R     2
@N MANAGEMENT  PLANT IRRIG FERTI RESID HARVS
 1 MA              {{ plant }}     {{ irrig }}     {{ ferti }}     N     M
@N OUTPUTS     FNAME OVVEW SUMRY FROPT GROUT CAOUT WAOUT NIOUT MIOUT DIOUT VBOSE CHOUT OPOUT FMOPT
 1 OU              N     Y     Y     1     Y     Y     Y     Y     N     Y     Y     N     N     A

@  AUTOMATIC MANAGEMENT
@N PLANTING    PFRST PLAST PH2OL PH2OU PH2OD PSTMX PSTMN
 1 PL          89100 89114    40   100    30    40    10
@N IRRIGATION  IMDEP ITHRL ITHRU IROFF IMETH IRAMT IREFF
 1 IR             30    50   100 GS000 IR001    10     1
@N NITROGEN    NMDEP NMTHR NAMNT NCODE NAOFF
 1 NI              5   0.1    50 FE008 GS000
@N RESIDUES    RIPCN RTIME RIDEP
 1 RE            100     1    20
@N HARVEST     HFRST HLAST HPCNP HPCNR
 1 HA              0 90107   100     0
